.splashScreenRoot {
    visibility: visible;
}
.alertDialog p.justify {
    margin: 2.5px;
    text-align: justify;
}
.alertDialog input {
    padding: 10px;
    border: 1.2px solid var(--primary-bgcolor);
    border-radius: 10px;
    background-color: #F0F7F6;
    margin-top: 5px;
}
.titlebar {
    height: 54px;
    display: flex;
    flex-direction: row;
}
.title {
    font-size: 1.3rem;
    margin: auto 20px auto;
    padding-top: 2px;
    overflow: auto;
    width: calc(100% - 20px - 10px - 35px - 10px - 20px);
}
.chats_container {
    height: calc(100vh - 55px);
    max-height: calc(100vh - 55px);
}
.chats_container .chat {
    
}
.chats_container .chat:active {
    filter: brightness(70%);
    transition-duration: 150ms;
}
.chats_container .chat .dp {
    
}
.chats_container .chat .message {
    
}
.chats_container .chat .message .info {
    
}
.chats_container .chat .message .info .sender {
    
}
.chats_container .chat .message .info .time {
    
}
.chats_container .chat .message .body {
    
}
@media only screen and (orientation: landscape) and (min-height: 420px) {
    .root,
    .titlebar,
    .chats_container {
        margin: auto;
        width: 400px;
    }
}
